@model Device

@{
    ViewData["Title"] = "Delete";
}

<p>
    Delete <code>@Html.DisplayFor(model => model.Name)</code>?
</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />

    <br />
    <br />

    <a asp-action="Index">Nevermind, go back</a>
</form>