@{
    ViewData["Title"] = "wakeonlan-server: Home";
}

<div class="text-center">
    <code>wakeonlan-server</code> is an application to allow you to easily send a magic packet to network devices to wake them over lan.
</div>

<h3>Menu</h3>
<ul>
    <li><a href="/device">Devices</a></li>
    <li><a href="/settings">Settings</a></li>
</ul>

<div>
    <a href="https://github.com/nullcoalescence/wakeonlan-server">Github</a>
</div>